body {
  font-family: 'Open Sans';
}

a {
  text-decoration: none !important;
}

header, .jumbotron.our-camps {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

.jumbotron-video {
  position: relative;
  z-index: -101;
}

img.our-camps {
  border-radius: 50%;
  width: 60%;
  border: 5px white solid;
  margin-bottom: 30px;
}

.row.cities {
  margin-top: 60px;
}

.container.our-camps-copy {
  padding-top: 100px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 500;
}

h2.white.text-together {
  margin-right: 20px;
}

p.white {
  color: white !important;
}

.text-together {
  display: inline-block;
}

.jumbotron {
  background-size: cover !important;
  text-align: center;
  height: 1010px;
  border-radius: 0px;
  background-position: center;
  padding: 0px;
  margin-bottom: 0px;
}

.jumbotron-two-col-accomodation,
.jumbotron-two-col-location,
.jumbotron-two-col-dates {
  background-size: cover !important;
  text-align: center;
  margin-top: 70px;
  height: 600px;
  border-radius: 0px;
  background-position: center;
  padding: 0px;
}

@font-face {
  font-family: "King-Basil-Lite";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/King-Basil-Lite.woff");
}

.display-4 {
  margin-top: 60px;
  color: white;
  font-family: King-Basil-Lite;
  font-size: 100px;
}

.blue {
  color: #009de0;
}

h3.white,
p.white,
a.white,
strong.white {
  color: #ffffff !important;
}

.col-sm.why {
  background: black;
  opacity: 0.5;
  margin: 10px;
}

.container.header-copy,
.container.our-camps-copy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
text-align: center;
}


img.down-arrow-home {
padding-top: 30%;
}

.container.overview,
.container.meals,
.container.menu,
.container.transportation,
.row.cta-preheader,
p.lead.cta-preheader,
.lead.blue.transportation {
  margin-top: 90px !important;
}

.blue-ribbon-accomodations,
.blue-ribbon-location {
  height: 60px;
  width: 1500px;
  background-color: #009de0;
  margin: 0 0 0 -1175px;
  padding: 0 0 0 0;
  border-radius: 7px;
  position: absolute;
}

.ribbon-label-accomodations,
.ribbon-label-location {
  color: white;
  font-size: 30pt;
  text-decoration: bold;
  padding: 1px 0 0 0;
  font-weight: 500;
  text-align: unset;
}

h2.ribbon-label-accomodations,
.ribbon-label-location {
  text-align: left;
}

h2.ribbon-label-accomodations {
  padding-top: 8px;
}

h2.ribbon-label,
h2.ribbon-label-dates {
  margin-top: 4px;
}

.col.dates,
.ribbon-label-dates,
.col.dates-list {
  margin-left: 12%;
}

ul.accomodations,
p.accomodations,
ul.location,
p.location {
  text-align: left;
  color: white;
}

p.accomodations {
  padding-top: 60px;
}

#accomodation,
#location,
#dates {
  padding-top: 60px;
}

img.transportation {
  width: 100%;
}

.row.cta-preheader {
  background-color: #009de0;
  margin-right: 0px;
}

p.lead.cta-preheader,
.cta-preheader {
  text-align: center;
  color: white;
  margin-top: 60px;
}

.cta-preheader-button {
  text-align: center;
  margin: 45px 0 90px 0;
}

button.btn.btn-outline-light {
  padding: 0.675rem 3.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 15px;
  border: 3px solid white;
}

img.facebook, img.youtube {
  width: 28px;
  margin: 25px 20px 0 0;
}

/*************** Footer ***************/
footer {
  background: linear-gradient(#3a3a3a, #000000);
  width: 100%;
  color: #ffffff;
  padding-top: 0;
}

footer .foot-left {
  padding: 75px 20px 50px 75px;
}

footer .foot-right {
  padding: 75px 60px 50px 60px;
}

footer .foot-left p,
footer .foot-right p {
  line-height: inherit;
}

#main_page_footer .foot-right-bottom,
footer .foot-right-bottom {
  padding: 0 60px 50px 60px;
}

footer .foot-right .row {
  margin-right: auto;
}

footer .foot-right-bottom .row {
  margin-right: inherit;
}

.foot-left {
  float: left;
  padding: 75px 75px 50px 75px;
  text-align: left;
  color: #ffffff;
}

.foot-left p {
  font-size: 16px;
  line-height: 1.5;
}

.foot-right {
  float: right;
  padding: 75px 60px 50px 60px;
  text-align: left;
}

.foot-right p {
  font-size: 16px;
  line-height: 2;
}

.foot-right .row {
  margin-right: 10%;
  padding-bottom: 0
}

.foot-left-bottom {
  float: left;
  padding: 0 75px 75px 75px;
  text-align: left;
  color: #ffffff;
  font-size: 12px
}

.foot-left-bottom img {
  margin: 0px 50px 0 0;
}

.foot-right-bottom {
  float: right;
  padding: 0px 60px 0 150px;
  text-align: left;
  font-size: 14px;
}

.foot-right-bottom .row {
  margin-right: 2%;
}

.foot-right-mobile {
  display: none;
}

.foot-left-bottom-mobile {
  display: none;
}

.foot-right-bottom-mobile {
  display: none;
}

footer .row {
  margin-left: 0;
  margin-right: 0;
}

img.facebook {
  width: 12px;
}
