body {
  font-family: 'Open Sans';
}

a {
  text-decoration: none !important;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

img.our-camps {
  border-radius: 50%;
  width: 75%;
}

.row.cities {
  margin-top: 60px;
}

.my-auto.w-100.text-white {
  margin-top: 25% !important;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

h4.panel-title {
  margin: 20px 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 25pt;
  font-weight: 500;
}

h2.white.text-together {
  margin-right: 20px;
}

p.overview {
  color: black;
  position: absolute;
  text-align: left !important;
  padding: 10px 0 75% 0;
}

p.white {
  color: white !important;
}

.text-together {
  display: inline-block;
}

.jumbotron {
  background-size: cover !important;
  text-align: center;
  height: 1010px;
  border-radius: 0px;
  background-position: center;
  padding: 0px;
  margin-bottom: 0px;
}

.jumbotron-two-col-accomodation,
.jumbotron-two-col-location,
.jumbotron-two-col-dates {
  background-size: cover !important;
  text-align: center;
  margin-top: 70px;
  height: 600px;
  border-radius: 0px;
  background-position: center;
  padding: 0px;
}

.jumbotron-two-col-location-dates {
  background-size: cover !important;
  text-align: center;
  margin-top: 70px;
  height: 1000px;
  border-radius: 0px;
  background-position: center;
  padding: 0px;
}

.col.location-type, .col.dates-list {
  margin-top: 110px;
  padding-left: 0px;
}

@font-face {
  font-family: "King-Basil-Lite";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/King-Basil-Lite.woff");
}

.display-4 {
  margin-top: 60px;
  color: white;
  font-family: King-Basil-Lite;
  font-size: 100px;
}

p.lead.age-group {
  padding-top: 15%;
}

/* horizontal line */
article {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto 0;
  padding-top: 18%;
}

span.age-group {
  height: 30px;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  /* border-top: 1px solid black; */
  top: 0;
  width: 600px;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.blue {
  color: #009de0;
}

p.white,
a.white,
strong.white {
  color: #ffffff !important;
}

.col-sm.why {
  background: black;
  opacity: 0.5;
  margin: 10px;
}

.lightblue {
  background-color: #85c1da;
}

.tablelightgrey {
  background: #f1f1f1;
}

.lead-text {
  color: white;
  font-size: 17pt;
  line-height: 28px;
}

.container.home-copy {
  padding-top: 180px;
}

img.down-arrow-home {
  margin-top: 240px;
}

.hero-button {
  display: inline-block;
  text-align: left;
  text-decoration: none;
  width: 250px;
  height: 90px;
  -webkit-text-size-adjust: none;
  mso-hide: all;
  padding-left: 20px;
}

.overview-button {
  background-color: #ffffff;
  border-top: 5px solid #009de0;
  color: #000000;
}

.junior-camp-button {
  background: #c00152;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c00152 0%, #7a0131 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c00152 0%, #7a0131 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c00152 0%, #7a0131 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c00152', endColorstr='#7a0131', GradientType=0);
  /* IE6-9 */
  border-top: 5px solid #c00152;
  color: #000000;
}

.intermediate-camp-button {
  background: #f28923;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f28923 0%, #c95c14 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f28923 0%, #c95c14 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f28923 0%, #c95c14 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f28923', endColorstr='#c95c14', GradientType=0);
  /* IE6-9 */
}

.senior-camp-button {
  background: #b0b91d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b0b91d 0%, #848e0e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b0b91d 0%, #848e0e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b0b91d 0%, #848e0e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b91d', endColorstr='#848e0e', GradientType=0);
  /* IE6-9 */
}

.black-arrow {
  position: absolute !important;
  display: inline-block !important;
  top: 28px !important;
  left: 200px !important;
  width: 10% !important;
}

.white-arrow {
  position: absolute !important;
  display: inline-block !important;
  top: 26px !important;
  left: 200px !important;
  width: 7% !important;
}

.tabs {
  margin-top: -80px;
}

.tab-1,
.tab-2,
.tab-3,
.tab-4 {
  margin-top: 14px;
  font-size: 16px;
}

.tab-2,
.tab-3,
.tab-4,
.col.footer {
  color: #fff;
}

p.tab-1, p.tab-2, p.tab-3, p.tab-4 {
  margin-bottom: 10px;
}

.sticky-background-white {
  height: 40px;
  background-color: white;
}

#myHeader.headerSticky.sticky {
  z-index: 100;
  width: 100%;
  margin: 0;
  left: 0;
  right: 0;
}

#myHeader.headerSticky {
  padding-top: 80px;
  left: calc(50% - 570px);
}

#myHeader.headerSticky {
  width: 1110px;
}

.headerSticky {
  background: #fff;
  color: #f1f1f1;
}

.sticky .stickyInner {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 102px;
}

.container.overview,
.container.meals,
.container.menu,
.container.transportation,
.row.cta-preheader,
p.lead.cta-preheader,
.lead.blue.transportation {
  margin-top: 90px !important;
}

.container-fluid.sub-nav {
  background-color: white;
}

.container-fw-two-col {
  margin: 0px;
  padding: 0px;
}

.container.no-margin {
  margin: 0px;
  padding: 0px;
}

img.down-arrow {
  position: absolute !important;
  display: inline-block !important;
  top: 28px !important;
  left: 190px !important;
  width: 15% !important;
}

p.location-overview {
  z-index: 10;
  display: inline-block;
  position: absolute;
  width: 476px;
  margin: 243px 150px;
  color: white;
  line-height: 22px;
  font-size: 15px;
}

.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

#wrapper {
  margin-top: 60px;
}

#outer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#outer>div {
  flex: 1;
}

#outer>div>img {
  width: 100%;
  min-width: 200px;
  /* demo*/
}

.table-wrapper {
  text-align: left;
}

table.tg {
  display: inline-block;
  position: absolute;
  color: white;
  width: 100%;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 0 25px 0 10px;
  border-style: unset;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 0px 60px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

td.tg-0lax-space {
  padding: 5px 0;
  width: 25%;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top
}

td.tg-0lax {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
}

td.food-menu {
  /*border: 1px solid black; */
  padding: 10px;
}

tr.lightblue {
  font-weight: 700;
}

.full-width-table {
  width: 100%;
}

.blue-ribbon {
  height: 60px;
  width: 1500px;
  background-color: #009de0;
  margin: 0 0 0 -1274px;
  padding: 0 0 0 0;
  border-radius: 7px;
  position: absolute;
}

.blue-ribbon-accomodations,
.blue-ribbon-location {
  height: 60px;
  width: 1500px;
  background-color: #009de0;
  margin: 0 0 0 -1175px;
  padding: 0 0 0 0;
  border-radius: 7px;
  position: absolute;
}

.blue-ribbon-dates {
  height: 60px;
  width: 1320px;
  background-color: #009de0;
  margin: 0 0 0 -1175px;
  padding: 0 0 0 0;
  border-radius: 7px;
  position: absolute;
}

.blue-ribbon-2-col {
  height: 60px;
  width: 234px;
  background-color: #009de0;
  margin: 0 0 0 556px;
  padding: 0 0 0 0;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 0;
  position: absolute;
}

.ribbon-label,
.ribbon-label-dates {
  color: white;
  font-size: 30pt;
  text-decoration: bold;
  padding: 1px 0 0 0;
  font-weight: 500;
  position: absolute;
}

.ribbon-label-accomodations,
.ribbon-label-location {
  color: white;
  font-size: 30pt;
  text-decoration: bold;
  padding: 1px 0 0 0;
  font-weight: 500;
  text-align: unset;
}

h2.ribbon-label-accomodations,
.ribbon-label-location {
  text-align: left;
}

h2.ribbon-label-accomodations {
  padding-top: 8px;
}

h2.ribbon-label,
h2.ribbon-label-dates {
  margin-top: 4px;
}

.col.dates,
.ribbon-label-dates,
.col.dates-list {
  margin-left: 12%;
}

ul.accomodations,
p.accomodations,
ul.location,
p.location {
  text-align: left;
  color: white;
}

p.accomodations {
  padding-top: 60px;
}

#accomodation,
#location,
#dates {
  padding-top: 60px;
}

img.transportation {
  width: 100%;
}

.row.cta-preheader {
  background-color: #009de0;
  margin-right: 0px;
}

p.lead.cta-preheader,
.cta-preheader {
  text-align: center;
  color: white;
  margin-top: 60px;
}

.cta-preheader-button {
  text-align: center;
  margin: 45px 0 90px 0;
}

button.btn.btn-outline-light {
  padding: 0.675rem 3.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 15px;
  border: 3px solid white;
}

img.facebook, img.youtube {
  width: 28px;
  margin: 25px 20px 0 0;
}

.pills-hi {
  margin-top: 500px;
}

ul#pills-tab.nav.nav-pills.mb-3 {
  margin: 18%;
}

p.white.MWS {
  padding-top: 105px;
}

/*************** Footer ***************/
footer {
  background: linear-gradient(#3a3a3a, #000000);
  width: 100%;
  color: #ffffff;
  padding-top: 0;
}

footer .foot-left {
  padding: 75px 20px 50px 75px;
}

footer .foot-right {
  padding: 75px 60px 50px 60px;
}

footer .foot-left p,
footer .foot-right p {
  line-height: inherit;
}

#main_page_footer .foot-right-bottom,
footer .foot-right-bottom {
  padding: 0 60px 50px 60px;
}

footer .foot-right .row {
  margin-right: auto;
}

footer .foot-right-bottom .row {
  margin-right: inherit;
}

footer .foot-right .col-md-4 {
  padding-left: 15px;
}

.foot-left {
  float: left;
  padding: 75px 75px 50px 75px;
  text-align: left;
  color: #ffffff;
}

.foot-left p {
  font-size: 16px;
  line-height: 1.5;
}

.foot-right {
  float: right;
  padding: 75px 60px 50px 60px;
  text-align: left;
}

.foot-right p {
  font-size: 16px;
  line-height: 2;
}

.foot-right .col-md-4 {
  padding-left: 10%;
}

.foot-right .row {
  margin-right: 10%;
  padding-bottom: 0
}

.foot-left-bottom {
  float: left;
  padding: 0 75px 75px 75px;
  text-align: left;
  color: #ffffff;
  font-size: 12px
}

.foot-left-bottom img {
  margin: 0px 50px 0 0;
}

.foot-right-bottom {
  float: right;
  padding: 0px 60px 0 150px;
  text-align: left;
  font-size: 14px;
}

.foot-right-bottom .row {
  margin-right: 2%;
}

.foot-right-mobile {
  display: none;
}

.foot-left-bottom-mobile {
  display: none;
}

.foot-right-bottom-mobile {
  display: none;
}

footer .row {
  margin-left: 0;
  margin-right: 0;
}

img.facebook {
  width: 12px;
}
