/* ----------------------------------Full width------------------------------------- */
@media (max-width:4000px) and (min-width:1080px) {
  body {
    background: lightblue;
  }

  .container.tabs.tablet, .container.tabs.mobile, .container.sub-nav.mobile {
    display: none;
  }
}

/* ----------------------------------Mid width------------------------------------- */
@media (max-width:1079px) and (min-width:800px) {
  body {
    background: pink;
  }

  .container.tabs.desktop, .container.tabs.mobile, .container.sub-nav.mobile {
    display: none;
  }

  .black-arrow {
    position: absolute !important;
    display: inline-block !important;
    top: 40px !important;
    left: 388px !important;
    width: 7% !important;
    text-align: right !important;
  }

  .white-arrow {
    position: absolute !important;
    display: inline-block !important;
    top: 28px !important;
    left: 396px !important;
    width: 5% !important;
    text-align: right !important;
  }


  .overview-button.hero-button,
  .junior-camp-button.hero-button,
  .intermediate-camp-button.hero-button,
  .senior-camp-button.hero-button {
    width: 100%;
  }
}

/* arrow fix */
@media (max-width:991px) and (min-width:768px) {
  .black-arrow, .white-arrow {
    left: 288px !important;
  }
}

/* ----------------------------------Mobile width------------------------------------- */
@media (max-width:799px) and (min-width:100px) {
  body {
    background: lightyellow;
  }

  .container.tabs.desktop, .container.tabs.tablet {
    display: none;
  }

  .overview-button.hero-button,
  .junior-camp-button.hero-button,
  .intermediate-camp-button.hero-button,
  .senior-camp-button.hero-button {
    width: 100%;
  }

  .container.toronto-copy {
    padding-top: 130px;
  }

  .jumbotron {
        height: 750px;
  }

  h1.display-4 {
        font-size: 75px;
  }

  .lead {
    font-size: 16pt;
  }

  .lead-text {
    font-size: 16px;
        line-height: 24px;
  }

img.white-arrow {
    top: 113px !important;
}

.container.sub-nav.desktop{
  display: none;
}

}
