/* Extra large devices (large desktops, 1200px and up) */
@media (max-width:4000px) and (min-width:1200px) {

/*
  body {
    background: lightblue;
  }
*/
  .container.tabs.mobile,
  .container.sub-nav.mobile,
  .jumbotron-two-col-location,
  .jumbotron-two-col-dates {
    display: none;
  }

  #myHeader.headerSticky {
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width:1199px) and (min-width:992px) {

/*
  body {
    background: pink;
  }
  */

  .container.tabs.mobile,
  .container.sub-nav.mobile,
  .jumbotron-two-col-location,
  .jumbotron-two-col-dates {
    display: none;
  }

  .black-arrow {
    position: absolute !important;
    display: inline-block !important;
    top: 40px !important;
    left: 388px !important;
    width: 7% !important;
    text-align: right !important;
  }

  .white-arrow {
    position: absolute !important;
    display: inline-block !important;
    top: 28px !important;
    left: 396px !important;
    width: 5% !important;
    text-align: right !important;
  }

  .overview-button.hero-button,
  .junior-camp-button.hero-button,
  .intermediate-camp-button.hero-button,
  .senior-camp-button.hero-button {
    width: 100%;
  }

  .blue-ribbon-2-col {
    margin: 0 0 0 465px;
  }

  #myHeader.headerSticky {
    width: 930px !important;
    margin: 0 auto !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width:991px) and (min-width:768px) {
/*
  body {
    background: lightyellow;
  }
*/
  .container.tabs.mobile,
  .jumbotron-two-col-location-dates {
    display: none;
  }

  .jumbotron-two-col-dates {
    margin-top: 1px
  }

  p.tab-1, p.tab-2, p.tab-3, p.tab-4 {
    margin-bottom: 0px;
  }

  .overview-button.hero-button,
  .junior-camp-button.hero-button,
  .intermediate-camp-button.hero-button,
  .senior-camp-button.hero-button {
    width: 100%;
  }

  .container.toronto-copy {
    padding-top: 130px;
  }

  .jumbotron {
    height: 750px;
  }

  h1.display-4 {
    font-size: 75px;
  }

  .lead {
    font-size: 16pt;
  }

  .lead-text {
    font-size: 16px;
    line-height: 24px;
  }

  img.white-arrow {
    top: 113px !important;
  }

  .container.sub-nav.desktop {
    display: none;
  }

  .blue-ribbon-2-col {
    margin: 0 0 0 345px;
  }

  #myHeader.headerSticky {
    width: 690px;
    margin: 0 auto;
  }

  .embed-responsive.embed-responsive-16by9,
  .container.overview,
  .bgimagecampus {
    margin-top: 90px;
  }

  .jumbotron-two-col-location,
  .jumbotron-two-col-dates {
    height: 750px;
  }

  .jumbotron-two-col-accomodation {
    height: 1025px;
  }

  .col.accomodations-video {
    margin-bottom: 60px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width:767px) and (min-width:576px) {

/*
  body {
    background: orange;
  }
*/
  .container.tabs.desktop,
  img.black-arrow,
  img.white-arrow,
  #myHeader.headerSticky,
  .jumbotron-two-col-location-dates {
    display: none !important;
  }

  .container.tabs.mobile {
    margin-top: -10px;
  }

  .container.overview,
  .embed-responsive.embed-responsive-16by9 {
    margin-top: 30px !important;
  }

  .jumbotron-two-col-dates {
    margin-top: 1px;
    height: 730px;
  }

  .jumbotron-two-col-location {
    height: 810px;
  }

  .jumbotron-two-col-accomodation {
    height: 890px;
  }

  p.tab-1,
  p.tab-2,
  p.tab-3,
  p.tab-4 {
    margin-top: 0px;
    font-size: 16px;
    padding: 10px;
  }

  .container.toronto-school-mobile {
    max-width: 0px;
  }
}

/* Teeny Tiny devices (landscape phones, 576px and up) */
@media (max-width:575px) and (min-width:3px) {
/*  body {
    background: green;
  }
*/
  .container.tabs.desktop,
  .container.tabs.tablet,
  img.black-arrow,
  img.white-arrow,
  #myHeader.headerSticky,
  .jumbotron-two-col-location-dates {
    display: none !important;
  }

  .overview-button.hero-button {
    height: 90px;
    -webkit-text-size-adjust: none;
    mso-hide: all;
    padding-left: 20px;
  }

  .container.tabs.mobile {
    margin-top: -10px;
  }

  p.tab-1, p.tab-2, p.tab-3, p.tab-4 {
    margin-top: 0px;
    font-size: 16px;
    padding: 10px;
  }

  .container.tabs.mobile,
  .container.overview,
  .embed-responsive.embed-responsive-16by9,
  .bgimage {
    margin-top: 30px !important;
  }

  .container.toronto-copy {
    padding-top: 185px;
  }

  .jumbotron {
    height: 900px;
  }

  .jumbotron-two-col-location {
    height: 970px;
  }

  .jumbotron-two-col-dates {
    margin-top: 1px;
    height: 850px;
  }

  .jumbotron-two-col-accomodation {
        height: 900px;
  }

.col-sm-8.foot-right {
        padding: 0 60px 50px 60px;
  }
}
