@font-face {
  font-family: 'Futura';
  src: url('fonts/FuturaStd-Medium.woff');
  /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/FuturaStd-Medium.woff') format('woff'),
    /* Super Modern Browsers */
    url('fonts/FuturaStd-Medium.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('fonts/FuturaStd-Medium.woff') format('woff'),
    /* Safari, Android, iOS */
    url('fonts/FuturaStd-Medium.woff') format('woff');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Futura-bold';
  src: url('fonts/FuturaStd/FuturaStd-Bold.woff');
  /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/FuturaStd-Bold.woff') format('woff'),
    /* Super Modern Browsers */
    url('fonts/FuturaStd-Bold.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('fonts/FuturaStd-Bold.woff') format('woff'),
    /* Safari, Android, iOS */
    url('fonts/FuturaStd-Bold.woff') format('woff');
  /* Legacy iOS */
}

html {
  font-family: 'Futura', 'Nunito', sans-serif;
}

p {
  font-family: 'Futura', 'Nunito', sans-serif !important;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
  font-size: 22px;
}

p.bold {
  font-family: 'Futura-bold', 'Nunito', sans-serif !important;
  font-size: 43px;
  line-height: 44px;
  letter-spacing: 0.5px;
}

p.white {
  color: white;
  text-align: right;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
}

.container.logo {
  margin-top: 140px;
}

.carousel-caption {
    position: absolute;
    bottom: 120px;
    left: -25%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: inherit;
    text-align: center;
    top: 90px;
}

img.logo {
  text-align: center;
}

img.mx-auto.d-block.header {
  max-width: 1458px;
}


.container.header {
  margin-top: 52px;
}

img.img-responsive {
  width: 100%;
}

img.hero-mobile {
  border-radius: 92px;
}

.hero-mobile {
  margin: 25px 6% 0 2% !important;
  max-width: 100%;
      text-align: center;
}

.white-border {
  border-bottom: 2px solid white;
  width: 27%;
  margin: 24px auto;
}

.grey-border {
  border-bottom: 2px solid lightgrey;
  width: 100%;
  margin: 4% auto;
}

.col.problem {
    margin-top: 120px;
}

.container.desktop {
  margin-top: 100px;
}

.container.solution {
  margin-top: 106px;
  margin-bottom: 74px;
  text-align: center;
    max-width: 603px;
}

.jumbotron.black-cards {
  background-color: black;
  margin-top: 36px;
  border-radius: 0px;
  padding-bottom: 20px;

}

img.ring-card {
  max-width: 100%;
}

.col.right {
  text-align: right;
}

.row.ring.top {
  margin-top: 110px;
  max-width: 90%;
margin-left: 10%;
margin-right: 10%;
}

.row.ring {
  margin-top: 0px;
  max-width: 90%;
margin-left: 10%;
margin-right: 10%;
}

.row.ring.text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.container.uppercut {
  margin-top: 104px;
  margin-bottom: -10%;
}

.col.uppercut {
  text-align: center;
}

img.uppercut {
  width: 554px;
  max-width: 50%;
}

/********** mobile **********/
@media only screen and (max-width: 767px) {

p {
  font-size: 14px;
}

p.bold {
  font-size: 26px;
}

  .col.mobile-hide,
  .jumbotron.mx-auto.d-block.desktop,
  .jumbotron.black-cards {
    display: none !important;
  }

  .container.logo {
    margin-top: 70px !important;
}

.container.solution {
  margin-top: 53px;
}


.container.uppercut {
    margin-top: 25px;
  }

img.mx-auto.d-block.logo {
  max-width: 80% !important;
}

img.black-cards-mobile {
  max-width: 50%;
}


.container.black-cards-mobile {
  background-color: black;
    margin: 0px !important;
    max-width: 100%;
}

.col.top {
  padding-top: 60px;
}

.col.top,
.col.bcm {
  text-align: center;
}

.ring-card-mobile {
  text-align: center;
  max-width: 100%;
}

img.ring-card-mobile {
  max-width: 100%;
  padding-top: 10px;
  padding-left: 7%;
padding-right: 7%;
}

}

/* don't show black cards on mobile */
@media screen and (max-width: 4000px) and (min-width: 766px) {
.container.black-cards-mobile {
  display: none;
}
}

/********** text styling on 1199px and below **********/

@media only screen and (max-width: 1199px) {
.carousel-caption {
      top: 50px;
}
}

/********** switch to mobile at 991px **********/

@media only screen and (max-width: 991px) {
.container.desktop {
display: none !important;
}
}

@media only screen and (min-width: 991px) {
.hero-mobile {
display: none !important;
}
}
